.container-search-bar {
  border: red 1px solid;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.iword {
  margin-top: 5px;
  border-left: 1px solid rgb(119, 119, 119);
}

.sbar-wrapper {
  border: 1px solid darkgrey;
  background-color: #f5f8fa;
}

.sbar {
  border: none;
  background-color: #f5f8fa;
}

.sbar-left {
  justify-content: flex-start;
}

.sbar-right {
  display: flex;
  justify-content: flex-end;
}

.logo img {
  height: 40px;
  padding: 0px 5px;
}

.sbar-right img {
  height: 40px;
}

input {
  text-align: center;
}
