.container-search-bar {
  border: red 1px solid;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.sbar-left {
  justify-content: flex-start;
}

.sbar-right {
  display: flex;
  justify-content: flex-end;
}

.logo img {
  height: 40px;
}

.sbar-right img {
  height: 40px;
}

input {
  text-align: center;
}
