.container-comments-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

.container-comments-icons img {
  height: 40px;
}

.like-count {
  font-weight: bold;
  padding: 0px 0px 10px 10px;
}

.container-comments-section form {
  width: 100%;
}

.time-stamp {
  padding-left: 10px;
  font-weight: lighter;
}
